.wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    .header {
        width: 100%;
        text-align: center;
        h2{
            font-size: 4vw;
            line-height: 1.2em;
            font-weight: 300;
            text-transform: none;
            color: #C1017C
        }
        
    }

    .formWrapper {
        width: 70%;
        text-align: left;
        form {
            display: flex;
            flex-direction: column;
            align-items: center;
            label {
                padding-bottom: 10px;
                color: #C1017C;
                align-self: start;
                font-size: 18px;
            }
            input {
                width: 100%;
                font-family: "Roboto", Sans-serif;
                font-weight: 400;
                font-size: 16px;
                min-height: 47px;
                border-radius: 5px;
                border: 1px solid #818a91;
                margin-bottom: 10px;
            }
            input[type=submit] {
                width: 50%;
                background-color: #C1017C;
                color: white;
                cursor: pointer;
                margin-top: 20px;
            }
        }
    }
}

@media screen and (max-width: 950px) {
    .wrapper {
        .header {
            h2{
                font-size: 10vw;
            }
        }
    }
}