.imgWrapper {
    margin: 30px 0;
    img {
        max-width: 100%;
    }
}

.orgWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.logosWrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.headerWrapper {
    width: 100vw;
    text-align: center;
    h2{
        font-size: 4vw;
        line-height: 1.2em;
        font-weight: 300;
        text-transform: none;
        color: #C1017C;
    }
}



@media screen and (max-width: 950px) {
    .headerWrapper {
        h2{
            font-size: 10vw;
        }
    }
    .orgWrapper{
        width: 90vw;
        flex-direction: column;
        
    }
    .imgWrapper {
        flex-basis: auto;
        height: auto;
    }
    .artFaceWrapper {
        margin-top: 10px;
        flex-basis: auto;
        font-size: 10vw;
        height: auto;
    }
}
