.headerWrapper {
    padding: 20px 0;
    width: 100vw;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-family: 'Caveat', cursive;
    font-size: 4vw;
    line-height: 1.2em;
    font-weight: 300;
    text-transform: none;
    color: #C1017C;
}


@media screen and (max-width: 950px) {
    h1 {
        font-size: 5vw
    }
}


@media screen and (max-width: 450px) {
    h1 {
        font-size: 7vw
    }
}