.wrapper {
    background-color: black;
    text-align: center;
    margin: 10px 0;
    .linkWrapper {
        background-color: #C1017C;
        display: inline-flex;
        padding: 10px 20px;
        a {
            text-decoration: none;
            color: white;
            font-size: 23px;
        }
    }
}
